.dInput-wrapper {	
	margin-bottom: 1rem;
}
.dInput {
	width: 100%;
	padding: .5rem;
	border-radius: 3px;
	border: 1px solid #dddddd;
	font-size: .9rem;
}
.inValid {
	font-size: 15px;
	font-style: italic;
	color: red;
}
.valid {
	font-size: 15px;
	font-style: italic;
	color: green;
}